@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	color: $text-color
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

a
	color: $accent
	text-decoration: underline
	&:hover, &:focus
		color: $accent

.top-line
	background-color: $dark
	position: relative
	height: 65px
	font-size: 23px

.logo
	font-family: baron-g, sans-serif
	color: #ffffff
	display: inline-block
	text-decoration: none
	position: absolute
	padding-left: 30px
	left: 0
	line-height: 65px
	&:hover, &:focus
		text-decoration: none
		color: #ffffff
	span
		color: $accent

.main-menu
	padding: 0 100px
	width: 100%
	text-align: center
	ul,li
		list-style-type: none
		padding: 0
		margin: 0
	li
		display: inline-block
		margin-right: -4px
		&.active
			a
				color: #ffffff
				background-color: lighten($dark, 5)
		&:hover
			a
				color: #ffffff
				background-color: lighten($dark, 8) 
		 


	a
		color:#d1d9e0
		text-decoration: none
		text-transform: uppercase
		font-size: 16px
		font-weight: bold
		padding: 0 15px
		line-height: 65px
		display: block
		transition: color .25s ease, background-color .25s ease

.search-wrap
	.search
		position: absolute
		padding: 
			right: 30px
			left: 10px
		right: 0
		color: #5c6470
		line-height: 65px
		cursor: pointer
		text-align: center
		transition: color .25s ease
		&:hover
			color: lighten(#5c6470, 10) 
	.search-field
		position: absolute
		left: 0
		top: 65px
		padding: 15px
		background-color: lighten($dark, 3)
		width: 100%
		border-top: lighten($dark, 5) 1px solid
		z-index: 4
		display: none
		input[type=text]
			width: 100%
			padding: 8px 15px
			border: lighten($dark, 10) 1px solid
			background-color: lighten($dark, 8)
			font-size: 16px
			color: #ffffff
			outline: none
			// outline: none для смартфонов не будет рамки
			&:focus
				border-color: lighten($dark, 15)
			&::placeholder
				color: rgba(#fff, .8)
				font-family: arial, sans-serif
				font-style: italic

.mobile-menu-button
	color: #ffffff
	text-align: center
	cursor: pointer
	line-height: 65px
	font-size: 17px
	text-transform: uppercase
	font-weight: bold
	word-space: nowrap
	display: none
	&:hover
		color:  $accent

.mobile-menu
	display: none
	background-color: lighten($dark, 3)
	display: none
	border-top: lighten($dark, 5) 1px solid 
	.top-menu
		display: block
	li
		display: block
		a
			padding: 0
			line-height: 45px

				
		


	 


@import "media" // Always at the end
